html, body {
    background-color: hsl(257, 40%, 49%);
    background-image:url(C:/Users/abhis/OneDrive/Desktop/huddle-landing-page-with-single-introductory-section-master/images/bg-desktop.svg);
    color: white;
    overflow: hidden;
}

.header {
    display: flex;
    margin-left: 10px;
    padding-left: 90px;
}

.row {
    display: flex;
    margin-bottom: 50px;
}

.column1{
    padding-left: 90px;
    width: 50%;
    margin-top: 50px;
}

.column2{
    padding-right: 40px;
    width: 35%;
    margin-top: 80px;
    font-family:Arial, Helvetica, sans-serif;
}

.logo {
    display: flex;
    width: 5px;
    position: absolute;
    right: 250px;
    top: 85%;
}

