html, body {
    background-color: hsl(257, 40%, 49%);
    background-image:url(C:/Users/abhis/OneDrive/Desktop/huddle-landing-page-with-single-introductory-section-master/images/bg-desktop.svg);
    color: white;
    overflow: hidden;
}

.header {
    display: flex;
    margin-left: 10px;
    padding-left: 90px;
}

.row {
    display: flex;
    margin-bottom: 50px;
}

.column1{
    padding-left: 90px;
    width: 50%;
    margin-top: 50px;
}

.column2{
    padding-right: 40px;
    width: 35%;
    margin-top: 80px;
    font-family:Arial, Helvetica, sans-serif;
}

.logo {
    display: flex;
    margin-top: 120px;
    margin-left: 350px;
}


.bi-facebook {
    margin-right: 10px;
    transition: transform .2s;
}
.bi-facebook:hover {
    transform: scale(1.5); 
}
.bi-twitter {
    margin-right: 10px;
    transition: transform .2s;
}

.bi-twitter:hover {
    transform: scale(1.5); 
}

.bi-instagram {
    margin-right: 10px;
    transition: transform .2s;
}

.bi-instagram:hover {
    transform: scale(1.5); 
}

button {
    transition: transform .2s;
}

button:hover {
    transform: scale(1.1); 
}

.bi-chat-left-dots {
    margin-top: 45px;
}